.features__list {
	display: flex;
}

.features__list-item {
	width: 270px;
}

.features__list-item:not(:last-child) {
	margin-right: 30px;
}

.features__list-title {
	color: var(--title-text-color);
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 10px;
}

.features__list-svg {
	display: flex;
	margin-bottom: 30px;
	/* justify-content: space-between;
	align-items: center; */
}

.features__list-svg-item {
	width: 270px;
	height: 120px;
	padding: 25px 100px;
	background: #f5f4fa;
	border-radius: 4px;
}

.features__list-svg-item:not(:last-child) {
	margin-right: 30px;
}

.features__svg {
	width: 70px;
	height: 70px;
}
